.contact-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 400px;
  height: fit-content;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #fff;
  padding: 20px 50px;
  border-radius: 10px;
  color: #002244;
}
.header-contact {
  color: #002244;
  text-align: center;
  line-height: 1.5;
  font-size: 1.2rem;
  font-style: italic;
}

.name-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 600;
  border: none;
  border-bottom: 0.5px solid grey;
}

input {
  outline: none;
}

.email-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 600;
  border: none;
  border-bottom: 0.5px solid grey;
}
.message-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 600;
  border: none;
}

.message-form textarea {
  border: none;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  border-bottom: 0.5px solid grey;
  resize: none;
  outline: none;
}

.contact-form input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.button-send {
  align-self: center;
  width: 80%;
  margin-top: 5px;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 600;
  background: linear-gradient(
    to right,
    rgba(2, 0, 36, 1) 0%,
    rgba(28, 37, 152, 1) 100%
  );
  color: #fff;
}

.button-send:hover {
  background: #fff;
  color: #002244;
  text-transform: uppercase;
}
